<!DOCTYPE html>
<html>
<head>
<title>A cool Node.js App</title>

	
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="/public/style.css">

</head>
<body>



        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                        <div class="navbar-header">
                                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                     <span class="sr-only">Toggle navigation</span>
                                     <span class="icon-bar"></span>
                                     <span class="icon-bar"></span>
                                     <span class="icon-bar"></span>
                                 </button>
                   
                          </div>
                           <div class="navbar-collapse collapse">
                                 <ul class="nav navbar-nav">
                                     
                                    
                                     <li>
                                         <a href="/">Home</a>
                                     </li>
                                         
                                    
                        </div>
                  </div>
           </nav>
                   
        <br/><br/><br/>
         
 <div class="container">
       

   <h1>Welcome to NodeJS</h1>
    <div class="nodeviewerror">There was an error!</div>

</div>

</body>
</html>